
*{
  box-sizing: border-box; 
}
body{
  background-color:MediumPurple;
  color: FloralWhite;
}
.topnav{
  background-color: Indigo;
  overflow: hidden;
}
.topnav a{
  color: Lavender;
  float: left;
  display: block; 
  text-align: center;
  padding: 14px 16px; 
}
.topnav a:hover{
  background-color:  MistyRose; 
  color: gold;
}
.column{
  float: left; 
  width: 33.33%; 
  padding: 15px  
}
div {border-style: double;}
